<div class="modal-header">
	<h3 class="modal-title pull-left">{{title}}</h3>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<div class="modal-body">
	<div *ngIf="mode=='add'">
	<form *ngIf="!appointmentCreated">
		<div class="form-group">
			<label for="client">Client</label>
			<input type="text" class="form-control" id="client" required placeholder="Client name">
		</div>

		<div class="form-group">
			<label for="city">City</label>
			<ng-select [allowClear]="true" [items]="cities" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
			 placeholder="No city selected">
			</ng-select>
		</div>

		<div class="form-group">
			<label for="address">Address</label>
			<textarea placeholder="Enter complete address here" class="form-control" id="address" cols="30" rows="4"></textarea>
		</div>

		<div class="form-group">
			<label  class="col-md-4" for="address">Time</label>
			<ng-select class="col-md-4"  [allowClear]="true" [items]="timeSlotFrom" [active]="selectedTimeFrom">
			</ng-select>

			<ng-select  class="col-md-4" [allowClear]="true" [items]="timeSlotTo" [active]="selectedTimeTo">
			</ng-select>
		</div>

		<button type="submit" (click)="onConfirm()" class="btn btn-success">Submit</button>
		<button type="button" (click)="bsModalRef.hide()" class="btn btn-danger">Cancel</button>

	</form>

	<div *ngIf="appointmentCreated">
		<div class="text-center">
			Meeting Added Successfully!!
		</div>

		<div class="form-group">
			<button type="button" (click)="bsModalRef.hide()" class="btn btn-success">Close</button>
		</div>
	</div>
	</div>

	<div *ngIf="mode=='view'">
		<div class="text-center">
			Appointment details will come here!
		</div>

		<div class="form-group">
			<button type="button" (click)="bsModalRef.hide()" class="btn btn-success">Close</button>
		</div>
	</div>
</div>