<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col" *ngFor="let time of timeSlots">
                    {{time.from}} to {{time.to}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items; let i = index">
                <th scope="row">{{item.name}}</th>

                <td *ngFor="let time of timeSlots" class="hour-td available">
                    <button class="btn-md btn-success add-btn"  (click)="openModalWithComponent(time)" >
                        Add
                    </button>

                    <button class="btn-md btn-primary view-btn"  (click)="openModalWithComponent(time)" >
                        View
                    </button>
                </td>
            </tr>

        </tbody>
    </table>
</div>