<header>
    <select [(ngModel)]="slot">
        <option  *ngFor="let time of timeSlots let i = index" [value]="i">{{i}}</option>
    </select>
</header>

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col" *ngFor="let time of timeSlots">
                    {{time.from}} to {{time.to}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items; let i = index">

                <th scope="row">
                    {{item.fullname}}</th>

                <td *ngFor="let time of timeSlots" class="hour-td" [ngClass]="item.isBusyAt(time)?'booked':'available'">
                    <button class="btn-md btn-success add-btn" (click)="openModalWithComponent(time, 'add')">
                        Add
                    </button>

                    <button class="btn-md btn-primary view-btn" (click)="openModalWithComponent(time, 'view')">
                        View
                    </button>
                </td>
            </tr>

        </tbody>
    </table>
</div>