.table-bordered > tbody > tr >td,
.table-bordered > tbody > tr >th,
.table-bordered > tfoot > tr >td,
.table-bordered > tfoot > tr >th,
.table-bordered > thead > tr >td,
.table-bordered > thead > tr >th  {
    border-color: #000;
}

.fa.fa-calendar-plus-o{
    color: green;
    cursor: pointer;
}

.available{
    background-color: lightgreen;
}

.booked{
    background-color: lightcoral;
}



.hour-td {
    text-align: center;
    width: 85px;
    height: 50px;

}

.hour-td > button{
    display: none;
}

.available:hover .add-btn{
    display: inline;
}

.booked:hover .view-btn{
    display: inline;
}

